<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-5">
            <h1>Админка</h1>
            <a th:href="@{/admin/users}">Список пользователей</a> <br>
            <a th:href="@{/admin/books}">Управление книгами</a>
        </div>
    </div>
</div>
<div th:insert="~{bootstrap :: footer_bootstrap}"></div>
</body>
</html>