<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>E-mail</th>
            </tr>
            <tr th:each="person: ${users}">
                <td th:text="${person.name}">Onions</td>
                <td th:text="${person.lastName}">2.41</td>
                <td th:text="${person.email}">2.41</td>
                <td th:text="${person.getDateOfBirth()}">2.41</td>
            </tr>
        </table>

    </div>
</div>
<div th:insert="~{bootstrap :: footer_bootstrap}"></div>
</body>
</html>