<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5 mt-5">
            <h1>Список книг</h1>
            <div th:each="book : ${books}">
                <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${ book.getAuthor() + ' - ' + book.getName() + ' - ' + book.getYearOfPublish()} ">user</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-5 mt-5">
            <form name="f" method="get" action="/books">
                <label for="minprice">Все книги дороже </label><br>
                <input type="text" name="filter" id="minprice"/><br>
                <input type="submit" value="Отфильтровать"/><br>
            </form>
        </div>
        <div class="col-md5-8 mt-5">
            <form name="s" method="get" action="/books">
                <label for="search">Название книги включает </label><br>
                <input type="text" name="search" id="search"/><br>
                <input type="submit" value="Найти"/><br>
            </form>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-3 mt-5">
            <button onclick="redirect();">Сбросить фильтр</button>
        </div>
    </div>
</div>
<script>
    function redirect() {
        window.location = '/books';
    }
</script>
<div th:insert="~{bootstrap :: footer_bootstrap}"></div>
</body>
</html>