<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-3 mt-5">
            <form th:method="POST" th:action="@{/books/search}">
                <label for="query">Поисковый запрос </label><br>
                <input type="text" name="query" id="query"/><br>
                <input type="submit" value="Искать"/><br>
            </form>
            <div th:if="${books}">
                <div th:if="${books.isEmpty()}">
                    <span>Ничего не найдено</span>
                </div>
                <div th:if="${!books.isEmpty()}">
                    <h1>Список книг</h1>
                    <div th:each="book : ${books}">
                        <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getName()}">user</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-md-center">
        <div class="col-md-3 mt-5">
            <form name="f" method="get" action="/books">
                <label for="minprice">Все книги дороже </label><br>
                <input type="text" name="filter" id="minprice"/><br>
                <input type="submit" value="Отфильтровать"/><br>
            </form>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-3 mt-5">
            <button onclick="redirect();">Сбросить фильтр</button>
        </div>
    </div>
</div>
<script>
    function redirect() {
        window.location = '/books';
    }
</script>
<div th:insert="~{bootstrap :: footer_bootstrap}"></div>
</body>
</html>