<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Новая книга</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-8 mt-5">
      <h1>Книга</h1>
      <div th:object="${book}"></div>
<p th:text="${book.name}">VALUE</p>
<p th:text="${book.author}">VALUE</p>
<p th:text="${book.yearOfPublish}">VALUE</p>
<p th:text="${book.price}">VALUE</p>
<a th:href="@{/addBookToCart/{id}(id=${book.getId()})}">Добавить в корзину</a>
    </div>

  </div>
</div>
<div th:insert="~{bootstrap :: footer_bootstrap}"></div>
</body>
</html>